@{
    ViewBag.Title = "SmartAssistant";
}

@section Title{
    Asesor Inteligente
}

<div class="well">
    El <strong>Asesor Inteligente</strong> es una herramienta que analiza sus comportamientos en cuanto a metas y objetivos. Según los datos registros en el sistema, el usuario podrá:
    <ul>
        <li></li>
    </ul>
</div>


<div class="cl-mcont">
    asas
</div>
