*.suo
*.user
_ReSharper.*
bin
packages
obj
Debug
Release
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
.vs/config/applicationhost.config
appSettings.config
connectionStrings.config
_references.js
TestResults
TestResults/*
