@using Salvis.Resources
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Strings.AppName;
}


@section Title
{
    <span class="special-text">@Resources.Strings.AppName</span>
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="content">
        <h4 class="title">Check Confirmation</h4>
        <div class="row">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
