@{
    ViewBag.Title = "Tips";
}


@section Title
{
Librería de Consejos e Instructivos
}

<div class="cl-mcont">
    <div id="tip-container" class="scrollbar scrollbarStyle col-lg-12 ">

    </div>
</div>

@section ScriptsReferences
{
   @Scripts.Render("~/bundles/library/tip")
}
@section DocumentReady
{
    initializeTips(10);
}
